* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
  }
  body {
    background: #d32d39;
  }
  .wrapper {
    width: 600px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  .container {
    width: 100%;
    /* background-color: #21262d; */
    background: rgba(211, 45, 57, 0.5);
    padding: 50px 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(211, 45, 57, 0.3);
    backdrop-filter: blur(8px);
    position: relative;
    border-radius: 16px;
    text-align: center;
  }
/* 
  .container {
    /* From https://css.glass
background: rgba(211, 45, 57, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(211, 45, 57, 0.3);

  } */
  /* .container:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 120%;
    background-color: #ffffff;
    z-index: -1;
    top: -10%;
    left: 10%;
  } */
  .container p {
    color: #fff;
    line-height: 2;
    font-size: 18px;
  }
  .container h3 {
    color: #fff;
    margin: 20px 0 60px 0;
    font-weight: 600;
    text-transform: capitalize;
  }


  /* From uiverse.io by @adamgiebl 
button {
    background: #d32d39;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid #fff;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    color: white;
   }
   
   button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
    cursor: pointer;
   }
   
   button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   } */

.myheartcreative {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
    font-size: 146px;
    color: #fff;
    opacity: 1;
    font-weight: 200;
    font-family: "Playfair Display";
}

/* button styling */
.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #fff;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    background: transparent;
    border: none;
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    cursor: pointer;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }